<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favico.ico') }}"
      type="image/x-icon"
    />
    <meta property="og:title" content="Sweeter - the sweetest site" />
    <meta property="og:description" content="Are you looking for me?" />
    <meta
      property="og:image"
      content="{{ url_for('static', filename='ogimage.jpg') }}"
    />

    <title>Tournament Hub</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />

    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <!-- Font Awesome CSS -->
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <link
      href="{{ url_for('static', filename='style.css') }}"
      rel="stylesheet"
    />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body id="login-body">
    <div class="login-container">
      <h1>LOGIN</h1>
      <form class="login-form" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div class="form-group">
          <button type="submit">Login</button>
        </div>
      </form>
    </div>
  </body>
</html>